* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background-image: url('./assets/background.jpg');
  background-size: cover;
}
$primary-color: #ef9a9a;
$lighter-primary-color: #ffebee;
$color-0: #00f0f0;
$color-1: #0000f0;
$color-2: #f0a000;
$color-3: #f0f000;
$color-4: #00f000;
$color-5: #a000f0;
$color-6: #a000f0;
.game {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .display {
    font-size: 32px;
  }
  .board {
    background-color: $lighter-primary-color;
    border: 8px solid $primary-color;
    display: flex;
    flex-direction: column;
    .row {
      display: flex;
      flex-direction: row;
      .cell {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: default;
      }
    }
  }

  .shape {
    position: absolute;
    display: flex;
    flex-direction: column;
    .row {
      display: flex;
      flex-direction: row;
      .cell {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &.default:before {
          content: none;
        }
      }
    }
    &.left {
      left: 100px;
    }
    &.right {
      right: 100px;
    }
  }

  .fill-0:before {
    content: '♤';
  }
  .fill-1:before {
    content: '♧';
  }
  .fill-2:before {
    content: '♢';
  }
  .fill-3:before {
    content: '♡';
  }
  .color-0 {
    background-color: $color-0;
    color: #333;
  }
  .color-1 {
    background-color: $color-1;
    color: #ccc;
  }
  .color-2 {
    background-color: $color-2;
    color: #333;
  }
  .color-3 {
    background-color: $color-3;
    color: #333;
  }
  .color-4 {
    background-color: $color-4;
    color: #333;
  }
  .color-5 {
    background-color: $color-5;
    color: #eee;
  }
  .color-6 {
    background-color: $color-6;
    color: #ccc;
  }
  .default:before {
    content: '‧';
    color: #ccc;
  }

  .gameover,
  .gamepaused {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    .message {
      padding: 64px 64px 32px;
      font-size: 32px;
      border: 1px solid #eee;
      box-shadow: 4px 4px 5px;
      background-color: #fff;
      cursor: pointer;
      .cta {
        margin-top: 14px;
        text-align: center;
        font-size: 16px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  button {
    width: 64px;
    height: 32px;
    border: 1px solid #eee;
    background-color: #eee;
    margin: 12px;
  }
}
