* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background-image: url('./assets/background.jpg');
  background-size: cover;
}
$primary-color: #ef9a9a;
$lighter-primary-color: #ffebee;
.game {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .board {
    background-color: $lighter-primary-color;
    border: 8px solid $primary-color;
    display: flex;
    flex-direction: column;
    .row {
      display: flex;
      flex-direction: row;
      .cell {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: default;
      }
    }
  }

  .fill-0:before {
    content: '♤';
  }
  .fill-1:before {
    content: '♧';
  }
  .fill-2:before {
    content: '♢';
  }
  .fill-3:before {
    content: '♡';
  }
  .color-0 {
    background-color: #81d4fa; // #00f0f0;
    color: #333;
  }
  .color-1 {
    background-color: #3f51b5; //#0000f0;
    color: #ccc;
  }
  .color-2 {
    background-color: #ff1744; //#f0a000;
    color: #ccc;
  }
  .color-3 {
    background-color: #fdd835; //#f0f000;
    color: #333;
  }
  .color-4 {
    background-color: #fb8c00; //#00f000;
    color: #333;
  }
  .color-5 {
    background-color: #d81b60; //#a000f0;
    color: #ccc;
  }
  .color-6 {
    background-color: #9c27b0; //#a000f0;
    color: #ccc;
  }
  .default:before {
    content: '‧';
    color: #ccc;
  }
  .central-zone {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    @media (max-width: 536px) {
      width: 336px;
    }
  }
  .side-panel {
    border: 8px solid $primary-color;
    border-left: none;
    display: flex;
    flex-direction: column;
    padding: 16px 0;
    background-color: $primary-color;
    align-items: center;
    color: #333;
    width: 200px;
    @media (max-width: 536px) {
      width: 336px;
    }
    .score,
    .level {
      font-size: 120%;
      padding: 6px;
      text-align: center;
      margin-bottom: 32px;
    }
    .shape {
      display: flex;
      flex-direction: column;
      .row {
        display: flex;
        flex-direction: row;
        .cell {
          width: 32px;
          height: 32px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          &.default:before {
            content: none;
          }
        }
      }
    }
  }

  .gameover,
  .gamepaused {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    .message {
      padding: 64px 64px 32px;
      font-size: 32px;
      border: 1px solid #eee;
      box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      background-color: #fff;
      text-align: center;
      .score {
        font-size: 16px;
      }
      cursor: pointer;
      .cta {
        margin-top: 14px;
        text-align: center;
        font-size: 16px;
        text-decoration: underline;
      }
    }
  }
  button {
    width: 64px;
    height: 32px;
    border: 1px solid #eee;
    background-color: #eee;
    margin: 12px;
  }
}
